*
{
    padding: 0px;
    margin: 0px;
}

div.im{
text-align: center;
}
section{
    padding: 2em;
    background-image: url('C:\Users\S538300\Documents\563\about-me\itl.png');
}


article{
    border: 1px solid black;
   
    background-color:1px rgb(156, 211, 202);
}
section{
    border: 1px solid black;
    background-color: rgb(211, 230, 238);
}
section {
    margin:1 em;
}
iframe{
    box-align: center;
}
h2, h3 {
    color: rgb(red, green, blue);
}


.navbar {
    z-index: 1;
}




footer{
    background: lightblue;
    /* padding: 50px; */
    text-align: center;
  }

  footer p{
    padding: 15px 0;
    margin: 0;
  }

  #copyright{
      color: black
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none !important;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: #55ACEE;
    color: white;
  }
  